<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link type="text/css" rel="stylesheet" href="./static/signup.css">
</head>

<body>
    <div class="signup-html">
        <label class="tab">Sign up</label>
        <div class="signup-form">
            <div class="sign-up-htm">
                <form action="{{url_for('accounts.signup')}}" method="post">
                    {{form.csrf_token}}
                    <div class="group">
                        {{form.userEmail.label}}
                        {{form.userEmail}}
                    </div>
                    <div class="group">
                        {{form.password.label}}
                        {{form.password}}
                    </div>
                    <div class="group">
                        {{form.confirm_password.label}}
                        {{form.confirm_password}}
                    </div>
                    <div class="group">
                        {{form.username.label}}
                        {{form.username}}
                    </div>
                    <div class="group">
                        {{form.submit}}
                    </div>
                </form>

            <div class="hr"></div>
                <div class="have_account">
                    <a href=" {{ url_for('accounts.login') }}">Already have account</a>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                      {% endfor %}
                    {% endwith %}
                </div>
            </div>

            </div>
        </div>
	    </div>

    </div>
</body>
</html>