<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link type="text/css" rel="stylesheet" href="./static/css/index.css">
</head>

<body>
	<div class="welcome">
        <h1> Welcome <br> Market Management System</h1>
        {% if current_user.is_authenticated %}
            <div class="profile">
            <a href="{{ url_for('accounts.profile')}} ">User Profile</a>
            </div>
            <div class="logout">
            <a href="{{ url_for('accounts.logout')}} ">Log Out</a>
            </div>
            <div class="product">
            <a href="{{ url_for('mall.product')}} ">Product Management</a>
            </div>
        {% else %}
            <div class="login">
            <a href="{{ url_for('accounts.login')}} ">Login</a>
            </div>
            <div class="signup">
            <a href="{{ url_for('accounts.signup')}} ">Sign Up</a>
        </div>
        {% endif %}
	</div>
</body>
</html>